// For format details, see https://aka.ms/devcontainer.json. For config options, see the
{
  "name": "{{project_name}}",
  "image": "{{devcontainer_image}}:latest",
  "postCreateCommand": "task setup"
}
