<a name="readme-top"></a>

<div align="center">
  <h3 align="center">{{ project_name }}</h3>

  <p align="center">
    {{ project_description }}
    <br />
    <a href="https://github.com/{{ github_repository }}"><strong>Explore the docs »</strong></a>
    <br />
    <br />
    <a href="https://github.com/{{ github_repository }}/issues">Report Bug</a>
    ·
    <a href="https://github.com/{{ github_repository }}/issues">Request Feature</a>
  </p>
</div>

<details>
  <summary>Table of Contents</summary>
  <ol>
    <li>
      <a href="#about-the-project">About The Project</a>
      <ul>
        <li><a href="#built-with">Built With</a></li>
      </ul>
    </li>
    <li>
      <a href="#getting-started">Getting Started</a>
      <ul>
        <li><a href="#prerequisites">Prerequisites</a></li>
        <li><a href="#installation">Installation</a></li>
      </ul>
    </li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#roadmap">Roadmap</a></li>
    <li><a href="#contributing">Contributing</a></li>
    <li><a href="#license">License</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#acknowledgments">Acknowledgments</a></li>
  </ol>
</details>

## About The Project

TBD

<p align="right">(<a href="#readme-top">back to top</a>)</p>

### Built With

* TBD

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## Getting Started

This is an example of how you may give instructions on setting up your project locally.
To get a local copy up and running follow these simple example steps.

### Prerequisites

This repository contains a [Dev Container](https://code.visualstudio.com/docs/devcontainers/containers) which provides all of the necessary tooling for working with the project. To get started you will need the following:

* [Visual Studio Code](https://code.visualstudio.com/)
* Meet the [System requirements for Dev Containers](https://code.visualstudio.com/docs/devcontainers/containers#_system-requirements)
* Add the [Dev Containers extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers)

Once the prequisites have been met you may [re-open the project inside the Dev Container](https://code.visualstudio.com/docs/devcontainers/containers#_quick-start-open-an-existing-folder-in-a-container). You may also [launch this in a Codespace](https://codespaces.new/{{ github_repository }}).

### Installation

1. TBD

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## Usage

TBD

_For more examples, please refer to the [Documentation](https://example.com)_

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## Roadmap

- [ ] Feature 1
- [ ] Feature 2
- [ ] Feature 3
    - [ ] Nested Feature

See the [open issues](https://github.com/{{ github_repository }}/issues) for a full list of proposed features (and known issues).

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## Contributing

If there are enhancements which you would like to see added or bugs which need to be fixed please create an issue. If you'd like to help contribute please feel free to fork this repository and use the following process to make a change:

1. Fork the Project
2. Create your Feature Branch (`git checkout -b feature/my-feature`)
3. Commit your Changes (`git commit -m 'Add some changes'`)
4. Push to the Branch (`git push origin feature/my-feature`)
5. Open a Pull Request

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## License

Distributed under the MIT License. See `[LICENSE.md](LICENSE.md)` for more information.

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## Contact

{{ contact_name }} &mdash; {{ contact_email }} &mdash; [LinkedIn](https://www.linkedin.com/in/{{contact_linkedin}}/)

Project Link: [https://github.com/{{ github_repository }}](https://github.com/{{ github_repository }})

<p align="right">(<a href="#readme-top">back to top</a>)</p>

## Acknowledgments

* [TBD]()

<p align="right">(<a href="#readme-top">back to top</a>)</p>
