name: Dependency Updates
on:
  workflow_dispatch:
  schedule:
    # Cron executes in UTC
    - cron: "0 23 * * *"
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.1.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: "jwbennet/project-base"
